<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style_form.css">
</head>
<body class="col-sm-6">
    <a class="row" >
        <img src="img/logo_2.png" style="width: 200px; "alt="">
    </a>
</body>
<body class="text-center col-sm-6">

    <div th:if="${error==true}">
        <div class="alert alert-danger" role="alert" style="padding-left: 46.25rem;">
            Correo o Contraseña incorrectos, Inténtelo de nuevo.
        </div>
    </div>

    <form th:action="@{/login}" method="post" th:object="${usuario}">
        <div class="form-group">
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"><b>Por favor Inicie Sesión</b></h1>
        </div>
        <div class="form-group">
          <label for="">Correo</label>
          <input type="email" class="form-control" name="" id="" th:field="*{correo}">
        </div>
        <div class="form-group">
          <label for="">Contraseña</label>
          <input type="password" class="form-control" name="" id="" th:field="*{contraseña}">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
</body>

</html>