<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dibujos x tipo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style_general.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="img/logo_2.png" width="40" height="40" alt="">
        </a>
        
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active"  href="/Conocenos">Conocenos</a>
            <a class="nav-item nav-link" href="/Historias">Historias</a> <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link"  href="/Dibujos">Dibujos</a>
          </div>
        </div>
      </nav>

      <div id="contenedor">
        <div id="content">
            <div id="aside">

                <th:block th:if="${session.usuarioLogueado==null}">
                  <a class="btn btn-primary" href="/login" role="button">Iniciar Sesion</a>
                  <a class="btn btn-primary" href="/registrarUsuario" role="button">Registrarse</a>
                </th:block>
                
                <th:block th:unless="${session.usuarioLogueado==null}">
                  <a class="text" th:text="'Hola '+${session.usuarioLogueado.getApodo()}"></a>
                  <a class="btn btn-primary" href="/usuarios/${session.usuarioLogueado.getId()}/perfil">Editar perfil</a>
                  <form action="logout" method="post">
                    <input class="link" type="submit" value="Desconectar">
                  </form>
                </th:block>
                
                <div id="test">
                    <img src="img/logo_en_largo.png" class="img-fluid rounded"  alt="">
                  </div>                
                  <div id="test">
                    <img src="img/logo_ufro.png" class="img-fluid rounded" alt="" >
                </div>
            </div>
        <div id="section">
            
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Titulo</th>
                    <th scope="col">Creador(@)</th>
                    <th scope="col">Tipo</th>
                  </tr>
                </thead>
                <tbody>
                    <tr th:each="d : ${dibujosTipo}">
                        <td scope="row" th:text="${d.getTitulo()}"></td>
                        <td scope="row" th:text="${d.getUsuarioByIdUsuario().getApodo()}"></td>
                        <td scope="row" th:text="${d.getTipo()}"></td>
                        <td scope="link" href="/${d.getUsuarioByIdUsuario()}/d.getId()">Ver</td>
                        </th:block>
                    </tr>
                </tbody>
            </table>    

        </div>

</body>
</html>